---
import {Content as OneContent} from '../content/One.md';
import {Content as TwoContent} from '../content/Two.md';
import Logo from '../components/Logo.astro';
import '../styles/global.css';
import '../styles/home.css';
import VueCounter from '../components/VueCounter.vue';
import Navbar from '../components/Navbar.vue';
import MdMine from '../components/MdMine.vue'
// import MDown from 'vue3-markdown-it'

// const MDoo = new MDown()

import { Debug } from 'astro/components';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'My Astro Site';
const source = '## Let\'s ***Vue*** some \n- *fresh*\n- **Markdown**,\n\n also...';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<script>
// import MdMine from '../components/MdMine.vue'

export default {
  data: function () {
    return {
      date: new Date()
    }
  }
}
</script>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>

	<link rel="icon" type="image/x-icon" href="/favicon.ico" />

	<style>
		header {
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: min(100%, 68ch);
		}
		article {
			padding-top: 2em;
			line-height: 1.5;
			display: flex;
			flex-direction: column;
			gap: 1em;
			max-width: 70ch;
		}
		.banner {
			text-align: center;
			font-size: 1.2rem;
			background: var(--color-light);
			padding: 1em 1.5em;
			padding-left: 0.75em;
			border-radius: 4px;
		}
	</style>
	<style is:global>
		pre {
			padding: 1rem;
		}
	</style>
</head>
<body>
    <main id="swup">
        <header>
       <Navbar name="two" client:load>
            <div>
                <Logo width={60} height={80} />
                <h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
            </div>
        </header>

        <article>
          <h2>An article with Swup; what do you think?</h2>
            <TwoContent />
        </article>

    <article>
      <br>
      <!-- Debug(sourceval="{source}"/> -->
      <br>
      <!-- <MdMine source={source} client:only="MdMine" /> -->
      <!-- <MdMine source={source} :date="date" client:only="Vue" /> -->
      <MdMine source={source} :date="date" client:load />
      <!-- <MDo source="{{source}}" breaks client:load /> -->
    </article>
    </main>
</body>
</html>
